.box-model-01{
    background-color: aqua;
    max-height: 400px;
    max-width: 400px;
    min-height: 100px;
    min-width: 100px;
}
.text-overflow{
    background-color: antiquewhite;
    width: 300px;
    height: 50px;
    overflow: hidden;
}